* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left:calc(50% - 570px);
    padding-right:calc(50% - 570px);

}
.nav {
    display: flex; 
    justify-items: center;
    
    background:#222222;
    justify-content: space-evenly;
    min-height: 75px;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    
} 

.left_nav {
    display:flex;
   
    margin-top: 18px;
    margin-bottom: 19px;
    gap: 41px;
    align-items: flex-end;
    width: 50%;
    
}

.right_nav {
    display: flex;
    align-items: center;
    gap: 33px;
    justify-content: flex-end;
}

.brand {
    display: flex;
    background: #F1E4E6;
    justify-content: center;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);

}

.info_brand {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-top: 35%;
    
    
}

.promo_info_brand {
    padding-left: 64px;
    width: 50%;
}

.title_brand {

    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 58px;
    
    
    
    color: #222222;
}



.images_brand_img {
    width: 50%;}

.images_brand {
    max-width: 100%;
}


.pink span {
    color: #F16D7F;
}

.content {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3,360px);
    justify-content: center;
    padding-top: 65px;
    padding-bottom: 96px;
}




.item_content1 {
    background-image: url("images/Group 36.svg");
    
    
}

.item_content2 {
    background-image: url("images/Group 37.svg");
}

.item_content3 {
    background-image: url("images/Group\ 38.svg");
}

.item_content4 {
    background-image: url("images/Group\ 39.svg");
    grid-column: span 3;
    min-height: 180px;
    
}

.title_content {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-top: 105px;

    color: #FFFFFF;
}

.title_content4{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 65px;

    color: #FFFFFF;
}

.title_product {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */
    color: #222222;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.sub_title_product {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 48px;
    /* identical to box height */


    color: #9F9F9F;
}

.item {
    
    background: #F8F8F8;
}
.content_product {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,360px);
    justify-content: center;
}
.title_items {
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin-left: 16px;
    margin-top: 24px;
    /* identical to box height */

    color: #000000;
}

.text_items {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;

    color: #5D5D5D;

}

.price_items {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 16px;
    margin-bottom: 24px;

    color: #F16D7F;

}


.footer_product {
    text-align: center;
    margin-top: 48px;
    padding-bottom: 48px;
}
.bottom_product {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border: #F26376 solid 1px;
    color: #F26376;
    background-color: #FFFFFF;
    padding: 15px 39px;
    
}



@media (max-width: 1024px){

    .icon-nav:hover {
        color:aqua;
    }
 
    .brand {
        padding-left: calc(50% - 386px);
        padding-right: calc(50% - 386px);
    }

    .title_brand {
        font-size: 44px;
        line-height: 53px;
    }
    .content {
        gap: 20px;
        grid-template-columns: repeat(3,232px);
    }
    .content_product {
        
        gap: 16px;
        grid-template-columns: repeat(2,360px);
    }
}


  

@media (min-width:320px ) and (max-width:767px){
    .nav {
        width: 100vw;
       
    }
    
    
    
    
    .brand {
        width: 100vw;
      
    }
    .images_brand_img {
        display: none;
    }
    .title_brand {
        line-height: 46px;

        
    }
    .info_brand {
        
        margin-top: 0%;
    }
    .promo_info_brand {
        width: 100vw;
        padding-left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .promo_info_brand {
        padding-top: 148px;
        padding-bottom: 149px;
    }
    
    .item_content1 {
        width: 96vw;
    }
    

    .content {
        
        display: flex;
        gap: 32px;
        width: 100vw;
        flex-direction: column;
        
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;

        
    }
     
    .content_product {
        
        gap: 16px;
        display: flex;
        flex-wrap: wrap;
        width: 100vw;

    }
    .product {  
        gap: 16px;
        display: flex;
       
        width: 100vw;
        flex-wrap: wrap;
        justify-content: center

    }
    .images_product {
        width: 96vw;
    }
    .item{
        width: 96vw;
    }
}